{% extends 'posts_app/base_generic.html' %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user_profile.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user_profile.get_full_name }}</h2>
                <p class="text-secondary">{{ user_profile.email }}</p>
            </div>
        </div>
        <h1 class="border-bottom mb-4">Profile Info</h1>
        <p><b>Username:</b> {{ user_profile.username }}</p>
        <p><b>Date joined:</b> {{ user_profile.date_joined }}</p>
        {#        todo!!#}
        {% if user_profile.id == request.user.id %}
            <a href="{% url 'profile-edit' %}" class="btn btn-outline-info">Update Info</a>
        {% else %}
            <a href="{% url 'send-message-to' user_profile.id %}" class="btn btn-outline-info">Send message</a>
        {% endif %}
    </div>

    {% if user_profile.id == request.user.id %}
        <h3>My Posts</h3>
    {% elif posts %}
        <h3>{{ user_profile.username }}'s posts</h3>
    {% endif %}

    {% for post in posts %}
        <article class="media content-section">
            {#            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"/>#}
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="
{#{% url 'user-posts' post.author.username %}#}
">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                    {% if post.post_comments.all|length > 1 %}
                        <small class="text-muted">| {{ post.post_comments.all|length }} comments</small>
                    {% elif  post.post_comments.all|length == 1 %}
                        <small class="text-muted">| 1 comment</small>
                    {% endif %}
                </div>
                <h2>{{ post.title }}</h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}